@model List<Product>
    @if (Model.Any() && Model != null)
    {
        <div class="best_sellers">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="section_title new_arrivals_title">
                            <h2 style="color:#ffffff;">Các sản phẩm đang giảm giá</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="product_slider_container">
                    <div class="owl-carousel owl-theme product_slider">
                        @foreach (var item in Model)
                        {
                            <div class="owl-item product_slider_item">
                                <div class="product-item">
                                    <div class="product discount">
                                        <div class="product_image">
                                        <a href="/chi-tiet/@item.Alias-p@(item.Id)"><img src="@item.ProductImages.FirstOrDefault().ImageUrl" width="200" height="200" alt="@item.Alias" /></a>
                                        </div>
                                        <div class="favorite favorite_left"></div>
                                        @if (item.IsSale)
                                        {
                                            <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
                                        }
                                    </div>
                                    <h6 style="text-align: center" class="product_name"><a style="color:#ffffff;font-size:18px;font-weight:bold" href="/chi-tiet/@item.Alias-p@(item.Id)">@item.Title</a></h6>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>


    }

