<div class="bg-footer" style="background-image: url(https://www.huho.vn/wp-content/themes/flatsome-child/images/bg_footer.jpg); min-height: 500px; }
{ background-size: cover !important; background-repeat: no-repeat !important; background-position: 50% 50% };">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-5" style="margin-top: 50px;">
                    <div class="col-inner">
                        <h4 class="title-menu">Về chúng tôi</h4>
                        <div style="font-style:italic">
                            <a href="/post/gioi-thieu" class="chuyencuason text-white" style="font-size: 26px !important; padding-left: 0 !important; font-family: 'SVNTime'; ">
                                Chuyện của Sơn
                            </a>
                            <p></p>
                        </div>
                        <p class="text-white" style="font-family: 'SVNTime'; font-size: 18px !important; padding-left: 0 !important;font-style:italic ">
                            Ký ức tuổi thơ của Sơn khắc sâu với những miếng thịt trâu gác bếp trên bếp lửa dậy mùi thơm của lửa, được làm bằng các loại gia vị tự nhiên, hái từ cây rừng giữa lòng Bản Tây Bắc. Những cọng rau xanh mướt, mang đến vị ngọt tự nhiên, đậm đà và khó quên.
                            Thế hệ từ bà, mẹ cho tới con cháu ở Tây Bắc, tất cả đều vay mượn nguồn nước từ dòng suối chảy róc rách quanh năm. Máy lọc nước, máy lọc không khí đối với họ chỉ là những thứ xa lạ. Bởi vì môi trường tự nhiên xung quanh họ chính là món quà vô giá từ thiên nhiên.
                            Họ đang tận hưởng cuộc sống xanh, sạch và hòa mình với tự nhiên một cách tuyệt vời nhất.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4" style="margin-top: 50px;">
                    <h4 class="title-menu border-3">Chính sách</h4>
                    <div>
                        <p>
                            <a class="text-white border-0" href="#" style="font-size: 18px !important; padding-left: 0 !important; font-family: 'SVNTime';">
                                Chính sách bảo mật
                            </a>
                        </p>
                        <p>
                            <a class="text-white border-0" href="#" style="font-size: 18px !important; padding-left: 0 !important; font-family: 'SVNTime';">
                                Chính sách thanh toán
                            </a>
                        </p>
                        <p>
                            <a class="text-white border-0" href="#" style="font-size: 18px !important; padding-left: 0 !important; font-family: 'SVNTime';">
                                Chính sách vận chuyển
                            </a>
                        </p>
                        <p>
                            <a class="text-white border-0" href="#" style="font-size: 18px !important; padding-left: 0 !important; font-family: 'SVNTime';">
                                Chính sách đổi trả
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3" style="margin-top: 50px;">
                    <h4 class="title-menu">Thông tin liên lạc</h4>
                    <p class="text-white" style="font-size: 24px; font-family: 'SVNTime'; ">GFOODs-Tinh hoa đặc sản Việt</p>
                    <div>
                        <p class="text-white" style="font-size: 18px; font-family: 'SVNTime';">
                            <i class="bi bi-telephone-fill "></i> 0914992862
                        </p>
                        <p class="text-white" style="font-size: 18px; font-family: 'SVNTime';">
                            <i class="bi bi-telephone-fill "></i> trungnguyenna02@gmail.com
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </footer>
