@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Đặt hàng thành công</h1>
        Đơn hàng của bạn số : @Model<br/><br/>
        <img src="~/images/jinx-ai-art-arcane-3840x2160-13146.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br/>
        Đơn hàng của bạn đã được đặt thành công!<br/>
    </div>
</div>