@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Đặt hàng thành công</h1>
        Đơn hàng của bạn số : @Model<br/><br/>
        <img src="~/images/dathangthanhcong.png" width="80%"/>
    </div>
    <div class="col-12 text-center" style="color:maroon">
    </div>
</div>