@model List<CategoryProduct>

@if (Model != null && Model.Any())
{
    <style>
        .red_button {
            background: #61974C;
        }

            .red_button:hover {
                background: #61974C !important;
            }

        .grid_sorting_button {
            background: #61974C;
            color: aliceblue;
        }

            .grid_sorting_button.active {
                background: #61974C;
                color: black;
            }

                .grid_sorting_button.active:hover {
                    background: #61974C !important;
                }

            .grid_sorting_button:first-child {
                margin-left: 0px;
                background: #61974C;
            }

            .grid_sorting_button:last-child {
                background: #61974C;
            }

        .section_title::after {
            background: #61974C;
        }
    </style>

    <div class="row">
        <div class="col text-center">
            <div class="section_title new_arrivals_title">
                <h2>Sản phẩm của chúng tôi</h2>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col text-center">
            <div class="new_arrivals_sorting">
                <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                    <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">Tất cả</li>
                    @foreach (var item in Model)
                    {
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".@item.Alias">@item.Name</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
                <div id="partialviewItemById"></div>
                <div class="red_button add_to_cart_button"><a href="#">Thêm vào giỏ</a></div>
            </div>
        </div>
    </div>
    <p>
        <a href="/san-pham">
            <span class="more">
                Xem thêm
            </span>
        </a>
    </p>
}
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#partialviewItemById').load("/customer/Products/Partial_ItemsByCateId");
        }
    </script>
}